header {
  background-image: $degradado;
  box-shadow: 20px 30px 70px black;
  padding: 15px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  a {
    text-decoration: none;

    img {
      max-height: 80px;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }

  nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 50px;
        font-family: "Madimi One", sans-serif;
        font-weight: 600;
        font-size: 30px;

        a {
          text-decoration: none;
        }      
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        padding: 10px 0;
        list-style: none;
        margin-top: 10px;

        li {
          margin: 0;
          padding: 10px 20px;

          a {
            font-size: 30px; 
            color: black;
          }

        }
      }
    }
  }
}
