@media screen and (min-width: 700px) and (max-width: 1020px) {

  header {
    padding: 15px 20px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;

      nav {
      justify-content: flex-end;

        ul {
          flex-direction: row;
          align-items: center;

          li {
            margin-right: 15px;
            font-size: 28px; 
          }
        }
      }
  } 
}

@media screen and (max-width: 700px) {

  header {
    box-shadow: none;
    flex-direction: row;
    padding: 10px;
    height: 175px;

    nav ul {
      flex-direction: column; 
      padding-top: 10px; 

      li {
        margin: 0; 
        text-align: center; 
        font-size: 33px; 
        height: 55px;

        a img {
         max-height: 80px;
        }
      }
    }
    
  }

  .banner-background {
    height: 300px;
  }

  .banner h2 {
    font-size: 2em;
  }

  .productos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

